@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    padding: 0;
    border: none;
    margin: 0;
}

body {
    min-height: 100vh;
    margin-bottom: -200px;
    font-family: Merriweather, sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
}

header {
    height: 100px;
    margin-bottom: 100px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
    padding-bottom: 10px;
    background-color: #ffd149;
}

p {
    margin-top: 15px;
}

section {
    height: 200px;
}

/*Logo and links and header */

#top {
    background-color: #ffa000
}

#logo {
    font-size: 250%;
    line-height: 100px;
    text-transform: uppercase;
    letter-spacing: 6px;
    float: left;
    margin-left: 50px;
}

#nav-links {
    font-size: 125%;
    letter-spacing: 2px;
}

#nav-links li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
    line-height: 100px;
}

#nav-links a {
    text-decoration: none;
}

.home-section {
    margin: 50px;
}

#home-section-1 {
    margin: 50px;
    height: 400px;
}

/* Home section*/

#home-desc {
    width: 50%;
    float: right;
    padding-top: 100px;
    text-transform: uppercase;
}

#home-image {
    width: 50%;
    float: left;
}

#home-picture {
    width: 600px;
    height: 400px;
}

#meditation-examples {
    list-style-type: none;
}

#meditation-examples > li {
    padding-bottom: 10px;
    margin-top: 15px;
}


/*get_started sections*/
.gs-section {
    margin: 40px;
    height: 700px;
}

#get-started-title {
    margin-top: 100px;
}

.bg-section {
    height: 700px;
    margin: 50px;
}

.bg-section2 {
    height: 200px;
    padding: 100px;
    margin-bottom: 200px;
}

.bg-section3 {
    height: 100px;
    padding: 40px;
    margin: 100px 50px;
}
/*meditation lists*/

.meditation-list {
    font-size: 20px;
    float: left;
    width: 50%;
    list-style-type: none;
}

.meditation-list > li {
    padding:  15px;
}

.meditation-images {
    margin-left: 250px;
    margin-top: 80px;
    float: left;
}

.meditation-pictures {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

#contact-form {
    max-width: 900px;
    margin: 5px;
    padding: 5px;
}

#contact-form > label {
    display: block;
}

#contact-form > input {
    display: block;
    margin: 20px 10px;
    border: 2px solid;
    width: 30%;
    font-size: 16px;
}

#contact-form > textarea {
    border: 2px solid;
    margin: 10px;
    font-size: 16px;
    width: 80%;
}

#contact-form > #button {
    width: auto;
    padding: 5px;
}

.contact-text {
    text-align: center;
    margin: 40px;
}


/*pictures*/
.bg-picture {
    height: 700px;
    width: 100%;
    object-fit: cover;
}

/*footer*/

footer {
    height: 200px;
}

.push {
    height: 100px;
    clear: both;
}

footer > p {
    text-align: center;
    margin: 40px;
    font-size: 20px;
}

#socials {
    text-align: center;
}

#socials > li {
    display: inline;
    font-size: 40px;
    padding: 5%;
}

/*media queries*/

@media screen and (max-width: 1400px){
    .meditation-images {
        margin: 100px;
    }
}

@media screen and (max-width:1300px){
    
    #logo {
        text-align: center;
        float: none;
        margin: 0 auto;
    }

    #nav-links {
        width: 70%;
        clear: both;
        margin-left: 100px;
    }

    #home-image {
        float: none;
        margin-left: 18.5rem;
    }

    #home-desc {
        width: 70%;
        clear: both;
        float: left;
        margin-bottom: 50px;
        margin-left: 170px;
    }

    .home-section {
        width: 70%;
        clear: both;
        height: 300px;
        margin-left: 170px;
    }

    #get-started-title {
        margin-top: 200px;
    }

    .gs-section {
        width: 100%;
        clear: both;
    }

    .meditation-list {
        width: 90%;
    }

    .meditation-images {
        margin-left: 400px;
    }

}

@media screen and (max-width: 950px){

    #nav-links {
        width: 80%;
        margin-left: 50px;
    }

    #home-image {
        margin-left: 6rem;
    }

    #home-desc {
        margin-bottom: 80px;
    }

    .home-section {
        width: 80%;
        margin: 0 auto;
    }

    .meditation-images {
        margin-left: 250px;
    }
}